@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(221, 90, 112);
    margin: 0;
    font-family: 'Russo One', sans-serif;
}

header {
    display: flex;

    background-color: rgb(105, 104, 104);
    color: rgb(221, 90, 112);
}

header > img {
    width: 200px;
}

header > nav {

    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 40px;

    list-style: none;
}

nav ul li {
    flex-shrink: 0;
}

nav ul a {
    font-size: 1.6rem;
    color: inherit;
    text-decoration: none;
}

#canvasContainer {
    width: 770px;
    height: 470px;
    margin: auto;
    }
   